<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 30px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px auto;
            width: 50%;
        }

        li {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        li:hover {
            background-color: #f0f0f0;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }

        .actions {
            text-align: center;
            margin-top: 20px;
        }

        .actions a {
            display: inline-block;
            margin: 0 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
        }

        .actions a:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1><%= category%> Products!</h1>
    <ul>
        <% for(let product of products) { %>
        <li><a href="/products/<%=product._id%>"><%= product.name %></a> </li>
        <% }%>
    </ul>
    <div class="actions">
        <a href="/products/new">New Product</a>
        <%if(category !== 'All') {%>
        <a href="/products">All Products</a>
        <% } %>
    </div>
</body>

</html>
